* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: lightcoral;    
}

main {
    background-color: lightblue;
}

footer {
    background-color: orange;
}

